<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nutritrack_final"
        tools:targetApi="31">
        <activity
            android:name=".home.ClinicianScreen"
            android:exported="false"
            android:label="@string/title_activity_clinician_screen"
            android:theme="@style/Theme.Nutritrack_final" />
        <activity
            android:name=".home.NutricoachScreen"
            android:exported="false"
            android:label="@string/title_activity_nutricoach_screen"
            android:theme="@style/Theme.Nutritrack_final" />
        <activity
            android:name=".home.SettingScreen"
            android:exported="false"
            android:label="@string/title_activity_setting_screen"
            android:theme="@style/Theme.Nutritrack_final" />
        <activity
            android:name=".home.InsightsScreen"
            android:exported="false"
            android:label="@string/title_activity_insights_screen"
            android:theme="@style/Theme.Nutritrack_final" />
        <activity
            android:name=".home.HomeScreen"
            android:exported="false"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/Theme.Nutritrack_final" />
        <activity
            android:name=".home.QuestionnaireScreen"
            android:exported="false"
            android:label="@string/title_activity_questionnaire_screen"
            android:theme="@style/Theme.Nutritrack_final" />
        <activity
            android:name=".home.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Nutritrack_final">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>